body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pagination .page-link{
  background-color: #a48e7b;
  border-color: #a48e7b;
}

.pagination .page-link:hover{
  background-color: #8d6747;
  border-color: #a48e7b;
}

.btn-primary {
  background-color: #a48e7b;
  border-color: #a48e7b;
}

.btn-primary:hover{
  background-color: #806755;
  border-color: #806755;
}

.product{
  border:1px #a2b7cd solid; 
  margin:1rem
}

.product-info{
  padding: 1rem;
}

.card-img-container {
  height: 200px; 
  overflow: hidden;
}



.rating span{
  color:#ffd452
}

.img-large{
  max-width: 100%;
}

.img-thumbnail{
  height:80px
}

.small-container{
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
.navbar-brand{
  font-weight: bold;
  color:rgb(255, 251, 246);
}

.navbar-brand:hover{
  color:#d5a077;
}
.side-navbar{
  width:240px;
  position:absolute;
  left:-300px;
  background-color: white;
  transition: 0.5s;
  
}
.site-container{
  transition: 0.4s;
  display: flex;
  height: 100vh;
}


.active-cont{
  margin-left:240px;
}

.active-nav{
  left:0;
}


  
.nav-link{
  color:rgb(218, 211, 199);

}

.nav-link:hover{
  color:#4c3c2f;
}

.navbar-category{
  color:rgb(126, 85, 34);

}

.navbar-category:hover{
  color:#d5a077;
}

.card-title{
  text-decoration: none;
  color:#ad9455;
  
}

.card-title :hover{
  color:#896e3c;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #a48e7b;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.card-img-container{
  height:300px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.card-img {
  width: 100%;
  object-fit:cover;
}

.product-card:hover {
  transform: scale(1.1) ;
}



.related-product-card{
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #a48e7b;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.related-img{
  width: 100%;
  object-fit:cover;
  transition: transform 0.3s ease;
}

.related-img:hover{
  transform: scale(1.05) ;
}
.product-info {
  margin-top: 10px;
}

.product-info a{
  text-decoration: none;
}

.product-info p {
  margin: 0;
  font-size: 18px;
  text-decoration: none;
  color: #4c3c2f;
}

.product-info button {
  margin-top: 10px;
}

.related-products{
  margin-top: 20px;
}

.product-info{
  margin-top: 20px;
}

.slider{
  margin-bottom: 30px;
}

.category-links {
  display: flex;
  flex-wrap: wrap;
}

.category-link {
  color: #333;
  margin: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}



.category-image{
  width: 150px; 
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 5px;
  opacity: 0.8;
  transition: transform 0.3s ease;
}

.category-image:hover{
  transform: scale(1.1);
}

.category-text {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 2rem; 
  color: rgb(82, 81, 81); 
  padding: 5px 10px; 
  border-radius: 5px; 
}

.image-container {
  position: relative;
}


.shop-by-categories-container{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  min-height: 70vh;
  gap:20px;
}


.list ul {
  list-style: none; 
  padding: 0;
}

.list ul li a {
  color: black; 
  text-decoration: none; 
}
.text-bold{
  font-weight: bold;
}


.footer h6{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.footer a:hover{
  color: #333;
}


.footer-list li a {
  position: relative;
  color: gray;
  transition: color 0.2s ease-in-out;
}


.footer-list li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #343f64;
  transition: width 0.4s ease-in-out;
}

.footer-list li a:hover {
  color: #343f64;
}

.footer-list li a:hover::after {
  width: 100%;
}

.footer-list li {
  margin-bottom: 12px; 
  padding-left: 150px;
  padding-right: 150px;
}

.card-text{
  margin-top: 10px;
}

.shop-now-banner{
  width: 1000px;
  height: 400px;

}

.banner-container{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
  position: relative;
}

.shop-now-button {
  position: absolute;
  bottom: 80px;
  right: 370px;
  background-color: #beb7a8;
  color: #f7f0eb;
  padding:  10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.shop-now-button:hover{
  background-color: #b8a887;
}

.navbar{
  background-color: #a48e7b;
}

.cart-page,.shipping,.faq,.order-history{
  min-height: 100vh;
}

.cart-page a{
  text-decoration: none;
  color:#7e6e61;
  font-size: 20px;
}

.cart-page a:hover{
  color:#51463c;
}

.search-page h3{
  color:#4c3c2f;
}

.search-page a:hover{
  color:rgb(120, 87, 44);
}

.select-box{
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #9e733e;
  border: 1px solid #ccc;
  border-radius: 6px;
}

